[Unit]
Description=Monthly DB-IP City Lite update

[Timer]
OnCalendar=*-*-03 03:00:00
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
