[Unit]
Description=Monthly DB-IP Country Lite update

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
